<h1>Rick & Morty episodes</h1>
<p>Check the full list of Rick & Morty episodes</p>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Episode info</h4>
      <dl>
        <dt>Episode</dt>
        <dd><%= @episode %></dd>
      </dl>
    </div>
  </div>
</div>
