<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Episode <%= @episode["episode"] %>: <%= @episode["name"] %></h4>
      <h5> Additional information </h5>
      <dl>
        <p>Air Date: <%= @episode["air_date"] %></p>
        <p> Characters: </p>
        <% @list.each do |ch| %>
          <p><%= link_to ch["name"], character_path(:character => ch) %></p>
        <% end %>
      </dl>
    </div>
  </div>
</div>
